    </main>
    <footer>
        <div class="container">
            <p>© 2024 C0de-N1nja. For Educational & Ethical Use Only.</p>
        </div>
    </footer>
    
    <script src="/js/main.js"></script>

</body>
</html>